#about {
  //園について
  .message {
    .flexcolumn {
      &__left {
        @include md {
          max-width: 100%;
          margin-bottom: 32px;
        }
        h3 {
          margin-bottom: 32px;
          @include md {
            margin-bottom: 16px;
          }
        }
      }
      &__right {
        @include md {
          max-width: 100%;
        }
        .kadomaru-frame {
          background-color: $color3;
          @include md {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .facility {
    @include md {
      .illust-back1 {
        background: none;
      }
    }
    .facility-img {
      width: 100%;
      background-color: $color4;
      max-height: 558px;
      margin-bottom: 32px;
      img {
        max-height: 558px;
      }
    }
    .facility-content {
      background-color: $color7;
      padding: 40px 40px 16px;
      border-radius: 20px;
      @include md {
        padding: 24px 24px 8px;
      }
      .flexitem {
        .item-box {
          width: calc((100% - 48px) / 2);
          padding-bottom: 24px;
          margin-bottom: 24px;
          @include md {
            width: 100%;
            padding-bottom: 16px;
            margin-bottom: 16px;
          }
          .f-title {
            color: $color5;
            font-weight: 700;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
  .gallery {
    .slick-slider {
      width: 100%;
      .slick-slide {
        margin: 0 24px;
        .gallery-box {
          text-align: center;
          p {
            margin-top: 16px;
          }
          img {
            width: 100%;
            height: 265px;
            object-fit: cover;
          }
        }
      }

      .slide-dots {
        margin: 0;
        padding: 0;
        text-align: center;
      }
      .slide-dots li {
        display: inline-block;
        margin: 0 10px;
      }
      .slide-dots li button {
        position: relative;
        text-indent: -9999px;
      }
      .slide-dots li button::before {
        content: "";
        cursor: pointer;
        width: 16px;
        height: 16px;
        background-color: $color6;
        opacity: 0.5;
        border-radius: 50%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 24px;
      }
      .slide-dots li.slick-active button::before {
        background-color: $color4;
        opacity: 1;
      }
      button {
        background: none;
        border: none;
        outline: none;
        padding: 0 7px;
      }
    }
  }
}
