#life {
  //保育目標
  .goal {
    .flexcolumn {
      &__left {
        @include md {
          max-width: 100%;
          margin-bottom: 32px;
        }
        .kadomaru-frame {
          background-color: $color3;
          @include md {
            margin: 0 auto;
          }
        }
      }
      &__right {
        h3 {
          margin-bottom: 32px;
          @include md {
            margin-bottom: 16px;
          }
        }
        li ~ li {
          margin-top: 8px;
        }
        @include md {
          max-width: 100%;
        }
      }
    }
  }

  //保育方針・特徴
  .philosophy {
    p {
      text-align: center;
      margin-bottom: 32px;
    }
    .flexcolumn {
      &__left {
        @include md {
          max-width: 100%;
          margin-bottom: 32px;
        }
        .kadomaru-frame {
          background-color: $color4;
          @include md {
            margin: 0 auto;
          }
        }
      }
      &__right {
        @include md {
          max-width: 100%;
        }
        .kadomaru-frame {
          background-color: $color5;
          @include md {
            margin: 0 auto;
          }
        }
      }
    }
  }
  //一日の流れ
  .dayflow {
    .flow-text {
      text-align: center;
      margin-bottom: 32px;
    }
    .flexcolumn {
      .anot-area {
        padding-top: 16px;
        p {
          font-weight: 400;
        }
        p + p {
          padding-top: 8px;
        }
      }
      @include md {
        justify-content: center;
        width: 100%;
        max-width: 375px;
        margin: 0 auto 32px auto;
      }
      h3 {
        text-align: center;
        margin-bottom: 32px;
        @include md {
          margin-bottom: 16px;
        }
      }
      img {
        margin-bottom: 32px;
      }
      .flex-left {
        .time {
          color: $color5;
          margin-right: 40px;
          font-weight: 700;
          width: 88px;
        }
      }
      .flex-left ~ .flex-left {
        margin-top: 24px;
        @include md {
          margin-top: 16px;
        }
      }
      &__left {
        @include md {
          max-width: 100%;
          margin-bottom: 32px;
        }
      }
      &__right {
        @include md {
          max-width: 100%;
        }
      }
    }
  }

  //年間行事
  .event {
    .event-text {
      margin-bottom: 32px;
    }
    .flexcolumn {
      margin-bottom: 32px;
      @include md {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        max-width: 375px;
        margin: 0 auto 32px auto;
      }
      &:last-child {
        margin-bottom: 0;
      }
      img {
        max-width: 391px;
        height: 472px;
        @include md {
          height: 400px;
        }
      }
      &__left {
        @include md {
          max-width: 100%;
          margin-bottom: 24px;
        }
        .flex-left {
          margin-bottom: 32px;
          @include md {
            margin-bottom: 24px;
          }
          h3 {
            font-size: 3.2rem;
          }
          p {
            margin-left: 16px;
            color: $color5;
          }
        }
        .event-title {
          &::before {
            margin-right: 24px;
          }
        }
        .event-title ~ .event-title {
          margin-top: 16px;
        }
      }
      &__right {
        text-align: center;
        @include md {
          max-width: 100%;
        }
      }
    }
  }
}
